 <div class="insight">
    <div class="insight-head" *ngIf="innerWidth > 500"  >
      <div class="insight-title">

      </div>
      <div class="insight-tools">
        <div class="tool" >
          <div class="mbbtn" *ngIf="innerWidth <= 500" (click)="isMobFilterVisible = true;">
            <fa-icon [icon]="faFilter"></fa-icon>
          </div>
          <div class="mbbtn"  nz-tooltip nzTooltipTitle="Add Customer"
               (click)="gotoAddCustomer()">
            <fa-icon [icon]="faPlusSquare" ></fa-icon>
          </div>
          <div class="mbbtn"  nz-tooltip nzTooltipTitle="Edit" (click)="navigateTo()">
            <fa-icon [icon]="faEdit" ></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="insight-description">
      <div *ngIf="innerWidth > 500" class="filters-row">
        <div class="my-row">
<!--          Customer name filter-->
              <div class="my-card">
                  <div class="my-card-header">
                      <input nz-input  [(ngModel)]="filterObjType && filterObjType.name" placeholder="Customer Name" id="searchType" />
                  </div>
              </div>

          <div class="my-card">
            <div class="my-card-header">
              <button class="my-btn bg-primary" (click)="search()">
                <fa-icon [icon]="faSearch" style="font-size: 15px"></fa-icon>
              </button>
            </div>
          </div>
          <div class="my-card">
            <div class="my-card-header">
              <button class="my-btn bg-primary" (click)="reset()">
                <fa-icon [icon]="faTimes" style="font-size: 19px"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div id="myDIV" (scroll)="getDataOnScroll()">
       <div *ngIf="innerWidth < 500 && receivedData && receivedData.length" class="aggregate">
            <div
              class="head shadow-d1 aggregate"
              *ngFor="let d of receivedData"
              (click)="selectItem(d)"  [ngClass]="{SelectHighlight :  selectedRowId && (d?._id === selectedRowId)}">


              <div class="align">
                <div class="grey"><b>Name:</b> {{ d?.name || 'NA'  }}</div>

              </div>
              <div class="align">
                <div class="grey"><b>City:</b> {{ d?.address.city || 'NA'}}</div>

              </div>
              <div class="align">
                <div class="grey"><b>State:</b> {{ d?.address.state || 'NA'}}</div>

              </div>
              <div class="align">
                <div class="grey"><b>Type:</b> {{ d?.type || 'Na' }}</div>

              </div>
              <div class="align">
                <div class="grey"><b>Address:</b> {{ d?.address.line1 || 'Na' }}</div>

              </div>
              <div class="align">
                <div class="grey"><b>GST No:</b> {{ d?.gstin_no || 'Na' }}</div>

              </div>

            </div>
       </div>

       <nz-table
          *ngIf="innerWidth >= 500"
          (scroll)="getDataOnScroll()"
          #nzTable
          nzBordered
          [nzShowPagination]="false"
          [nzData]="receivedData ? receivedData : ''"
          nzSize="small"
          [nzScroll]="{ x: '600px', y: '300px' }"
          style="overflow-y: auto"
        >
          <thead>
          <tr style="background-color: #3e51b5 !important;">
            <th nzWidth="80px"  nzAlign="center">Name</th>
            <th nzWidth="80px"  nzAlign="center">City</th>
            <th nzWidth="150px" nzAlign="center">State</th>
            <th nzWidth="120px" nzAlign="center">Type</th>
            <th nzWidth="120px" nzAlign="center">Address</th>
            <th nzWidth="120px" nzAlign="center">GST No</th>
          </tr>
          </thead>
          <tbody >
          <tr
            style="cursor: pointer"
            *ngFor="let item of receivedData"
            (click)="selectItem(item)"
            [ngClass]="{SelectHighlight :  selectedRowId && (item?._id === selectedRowId)}"
          >
            <td nzAlign="center">{{ item?.name }}</td>
            <td nzAlign="center">{{ item?.address.city }}</td>
            <td nzAlign="center">{{ item?.address.state}}</td>
            <td nzAlign="center">{{ item?.type}}</td>
            <td nzAlign="center">{{ item?.address.line1}}</td>
            <td nzAlign="center">{{ item?.gstin_no}}</td>
          </tr>
          </tbody> </nz-table
        ><br /><br />
      </div>
    </div>
  </div>

<div *ngIf="isMobFilterVisible" class="flt">
  <div class="flt_heading">Filters</div>
    <div>
      <div class="flex-cont">
        <label> Customer Name </label>
        <input nz-input [(ngModel)]="filterObjType && filterObjType.name" placeholder="Search Customer Name">
      </div>

    </div>

  <div style="margin-top: 17px;">
    <button style="width: 50%;" type="primary" nz-button (click)="search(); isMobFilterVisible = false;">Search</button>
    <button style="width: 50%;" type="primary" nz-button (click)="reset(); isMobFilterVisible = false;">Reset</button>
  </div>
</div>
