<div class="insight">
  <div class="insight-head">

  </div>
  <div class="insight-description">
    <form nz-form [formGroup]="GeozoneForm">

      <div nz-row style="padding-top: 5px">
        <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6"  style="padding-bottom: 5px" *ngIf="!Preview">
          <nz-form-control>
            <input nz-input [readonly]="Preview" type="text" style="width: 95%" [(ngModel)]="oFilter.location" #address appAddrSearch autocomplete="off"  [ngModelOptions]="{ standalone: true }"  (calDist) ="searchLocation()" placeholder="Search Location"/>
          </nz-form-control>
        </div>
        <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6"  style="padding-bottom: 5px" *ngIf="!Preview">
          <nz-form-control>
            <input [readonly]="Preview" nz-input  type="number" style="width: 95%" formControlName="latitude"  autocomplete="off" placeholder="Enter latitude"/>
          </nz-form-control>
        </div>
        <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6"  style="padding-bottom: 5px" *ngIf="!Preview">
          <nz-form-control>
            <input [readonly]="Preview" nz-input  type="number"  style="width: 95%" formControlName="longitude"  autocomplete="off" placeholder="Enter longitude"/>
          </nz-form-control>
        </div>
        <div   nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6"  style="padding-bottom: 5px" *ngIf="!Preview">
          <nz-form-item>
            <nz-form-control>
              <button [disabled]="Preview" class=" invbtn" style=" width:140px; margin-right: 5px" nz-button  nzType="primary" (click)="search()">Submit</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div></form>

    <div style="padding-bottom: 1px" class="bold">MAP</div>
    <div
      class="col-md-12 card m-b-5"
      style="border-top: 1px solid #e6e6e6; padding: 1px 0 0 0"
    >
      <div style="border-bottom: 5px solid #e6e6e6; padding: 1px 0 0 0">
        <agm-map [latitude]="marker.lat" [longitude]="marker.lng"  [zoom]="zoom" [streetViewControl]="false" [keyboardShortcuts]="false"
                 [fullscreenControl]="false" [gestureHandling]="'greedy'" (mapReady)="onMapReady($event)">
          <agm-marker *ngFor="let m of markers; let i = index;" [latitude]="m.lat" [longitude]="m.lng" [markerDraggable]="true"
          >
          </agm-marker>


<!--          ********************************-->
          <agm-circle  *ngFor="let zone of CircleGeoZone; let i = index"
            [latitude]="zone?.geozone[0].latitude" [longitude]="zone?.geozone[0].longitude"
                      [radius]="zone?.radius|| 0"
                      [fillColor]="'orange'"
                       [strokeWeight]="2"
                       [strokeColor]="'red'"
                       [strokeOpacity]="1"
                      [editable]="false">
          </agm-circle>
          <agm-polygon *ngFor="let zone of PolygonGeoZone"  [fillColor]="'green'"
                       [fillOpacity]="0.7" [paths]="zone?.geozone"
                       [strokeOpacity]="1"
                       [strokeWeight]="3"
                       [strokeColor]="'green'"
                       [visible]="true" >

          </agm-polygon>


          <agm-rectangle  *ngFor="let zone of RectangleGeoZone"
                          [visible]="true"
            [north]="max('latitude',zone.geozone)"
            [east]="max('longitude',zone.geozone)"
            [south]="min('latitude',zone.geozone)"
            [west]="min('longitude',zone.geozone)"
            [fillColor]="'blue'"
                          [fillOpacity]="0.7"

          >
          </agm-rectangle>



        </agm-map>

      </div>
      <!--    for geozone edit -->
      <nz-modal style="z-index: 50" [(nzVisible)]="visible" nzTitle="Add Geozone" (nzOnCancel)="handleCancel()"
                (nzOnOk)="handleSubmit()">

        <ng-container *nzModalContent>
          <div nz-col nzXs="24" nzSm="12" nzMd="24" nzLg="24">
            <nz-form-label style="text-align: left" nzFor="Name">Name<span class="red-mark">*</span>
            </nz-form-label>
            <nz-form-control>
              <input nz-input style="width: 95%" [(ngModel)]="name" [ngModelOptions]="{ standalone: true }"
                     placeholder="Enter Geozone  Name " autocomplete="off" />
            </nz-form-control>
          </div>
          <div nz-col nzXs="24" nzSm="12" nzMd="24" nzLg="24">
            <nz-form-label style="text-align: left" nzFor="Name">Description
            </nz-form-label>
            <nz-form-control>
            <textarea type="text" nz-input style="width: 95% ; height: 120px" [(ngModel)]="description" [ngModelOptions]="{ standalone: true }"
                      placeholder="Enter Description " autocomplete="off" >
            </textarea>
            </nz-form-control>
          </div>
        </ng-container>
      </nz-modal>
    </div>
  </div>
</div>
