<div class="insight">
  <div class="insight-head">
  </div>
  <div class="insight-description">
    <form nz-form [formGroup]="dealForm" (ngSubmit)="onSubmit()">
      <div>
        <div nz-row>
          <!--Branch -->
          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" >
            <nz-form-label style="text-align: left;" nzErrorTip="Please Enter Branch " nzFor="Branch">Branch Name<span
              class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <nz-select  [nzDisabled] ="!mod || this.previewMd" [nzDropdownMatchSelectWidth]="false"  style="width: 95%"  formControlName="branch"
                          nzPlaceHolder="Search branch"
                          nzShowSearch (nzOnSearch)="onSearchbranch($event)" nzServerSearch nzAllowClear>
                <nz-option *ngFor="let branch of branchgetdata"
                           nzLabel="{{ branch?.name}}" [nzValue]="branch">
                </nz-option>
              </nz-select>
            </nz-form-control>

          </div>
          <!--        ***********************  customer consignee consignor billing party-->

          <!--////////////// Customer filter////////////-->
          <div   nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
            <nz-form-label nzFor="customer">{{'Select Customer'}} <span
              class="red-mark">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Enter Customer">
              <nz-select [nzDisabled] ="this.previewMd || this.recAmValid"  style="width: 95%"  [nzDropdownMatchSelectWidth]="false"
                          formControlName="customer" nzPlaceHolder="Search Customer" nzShowSearch
                          (nzOnSearch)="getcustomer($event)"  nzAllowClear nzServerSearch>
                <nz-option *ngFor="let item of getCustomerdata" nzLabel="{{ item?.name}}" [nzValue]="item">
                </nz-option>
              </nz-select>


            </nz-form-control>
          </div>
          <div  nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" >
            <nz-form-label nzFor="billingParty">{{'Select Billing Party'}} <span
              class="red-mark">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Enter Billing Party">
              <nz-select [nzDisabled] ="this.previewMd || this.recAmValid"  [nzDropdownMatchSelectWidth]="false"
                          style="width: 95%" formControlName="billingParty" nzPlaceHolder="Search Billing Party" nzShowSearch
                          (nzOnSearch)="onChangeSearch($event, 'name')"  nzServerSearch
                          nzAllowClear>
                <nz-option *ngFor="let item of receivedBillingParty" nzLabel="{{ item?.name}}" [nzValue]="item">
                </nz-option>
              </nz-select>

            </nz-form-control>
          </div>
          <div  nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
            <nz-form-label nzFor="consignor">{{ 'Select Consignor'}}</nz-form-label>
            <nz-form-control nzErrorTip="Enter Consignor">
              <nz-select  [nzDisabled] ="this.previewMd" [nzDropdownMatchSelectWidth]="false"
                          style="width: 95%" formControlName="consignor" nzPlaceHolder="Search Consignor" nzShowSearch
                          (nzOnSearch)="getconsignor_consignee($event,'Consignor')" nzServerSearch nzAllowClear>
                <nz-option *ngFor="let item of getConsignordata" nzLabel="{{ item?.name}}" [nzValue]="item">
                </nz-option>
              </nz-select>

            </nz-form-control>
          </div>

          <div   nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" >
            <nz-form-label nzFor="consignee">{{'Select Consignee'}} </nz-form-label>
            <nz-form-control nzErrorTip="Enter Consignee">
              <nz-select  [nzDisabled] ="this.previewMd" style="width: 95%"  [nzDropdownMatchSelectWidth]="false"
                          formControlName="consignee" nzPlaceHolder="Search Consignee" nzShowSearch
                          (nzOnSearch)="getconsignor_consignee($event,'Consignee')" nzServerSearch nzAllowClear>
                <nz-option *ngFor="let item of getconsigneedata" nzLabel="{{ item?.name}}" [nzValue]="item">
                </nz-option>
              </nz-select>

            </nz-form-control>
          </div>
          <div  *ngIf="!mod" nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
            <nz-form-label style="text-align: left;" nzErrorTip="Select Type " nzFor="vehicle type">Vehicle Type<span
              class="red-mark">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Please Select Vehicle  type">
              <nz-select [nzDisabled] ="true"  [nzDropdownMatchSelectWidth]="false"  style="width: 95%"  formControlName="vehicle"
                         nzPlaceHolder="Select Type"
                         nzShowSearch (nzOnSearch)="onSearchvehicletype()" nzServerSearch nzAllowClear>
                <nz-option *ngFor="let type of vehicletypedata"
                           nzLabel="{{ type?.veh_type_name}}" [nzValue]="type">
                </nz-option>

              </nz-select>
            </nz-form-control>

          </div>

          <div  *ngIf="mod" nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
            <nz-form-label style="text-align: left;" nzErrorTip="Select Type " nzFor="vehicle type">Vehicle Type<span
              class="red-mark">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Please Select Vehicle  type">
              <nz-select   [nzDropdownMatchSelectWidth]="false"  style="width: 95%"  formControlName="vehicle"
                         nzPlaceHolder="Select Type"
                         nzShowSearch (nzOnSearch)="onSearchvehicletype()" nzServerSearch nzAllowClear>
                <nz-option *ngFor="let type of vehicletypedata"
                           nzLabel="{{ type?.name}}" [nzValue]="type">
                </nz-option>

              </nz-select>
            </nz-form-control>

          </div>


          <!--       *************************   customer consignee consignor and billing party end-->


          <!--          // trip memo date and trip memo slip no-->
          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo">
            <nz-form-label style="text-align: left;" nzFor="Deal date">trip Memo Date<span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <nz-date-picker [nzDisabled] ="this.previewMd || this.recAmValid"  style="width: 95%" formControlName="date"   autocomplete="off" placeholder="Choose Trip Memo Date"></nz-date-picker>
            </nz-form-control>
          </div>
          <div   nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo" >
            <nz-form-label nzFor="loading_slip">Trip Memo  Slip <span
              class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <nz-select   [nzDisabled] ="this.previewMd || this.recAmValid" style="width: 85%"   [nzDropdownMatchSelectWidth]="false"
                          formControlName="tMNo" nzPlaceHolder="Search Trip Memo slip " nzShowSearch
                          (nzOnSearch)="getBillBookNo($event)" nzAllowClear nzServerSearch>
                <nz-option *ngFor="let item of selectedStationary" nzLabel="{{ item?.bookNo}}" [nzValue]=" item">
                </nz-option>
              </nz-select>
              <button  [disabled] ="this.previewMd || this.recAmValid" type="button" class="btn-icon" nz-tooltip nzTooltipTitle="Centrailized"
                      (click)="getBillBookNo('centrailized')">
                <i nz-icon nzType="plus-circle" style="font-size: 20px;" nzTheme="outline"></i>
              </button>


            </nz-form-control>

          </div>
          <!--           end    // trip memo date and trip memo slip no-->

          <!--          gr details-->
          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" >
            <nz-form-label nzFor="grDate">{{'GR Date'}} </nz-form-label>
            <nz-form-control nzErrorTip="Enter Gr Date">
              <nz-date-picker  [nzDisabled] ="this.previewMd"    [nzFormat]="dateFormat"  id="grDate"   style="width: 95%"
                                   formControlName="grDate"></nz-date-picker>
            </nz-form-control>
          </div>

          <div   nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" >
            <nz-form-label nzFor="grNumber">{{'Gr Number'}}</nz-form-label>
            <!--            //**********************-->
            <nz-form-control>
              <nz-select  [nzDisabled] ="this.previewMd" style="width: 88%"   [nzDropdownMatchSelectWidth]="false"
                          formControlName="grNumber" nzPlaceHolder="Search gr " nzShowSearch
                          (nzOnSearch)="getBillBookNo1($event)" nzAllowClear nzServerSearch>
                <nz-option *ngFor="let item of getGRstationarydata" nzLabel="{{ item?.bookNo}}" [nzValue]=" item">
                </nz-option>
              </nz-select>
              <button  [disabled] ="this.previewMd" type="button" class="btn-icon" nz-tooltip nzTooltipTitle="Centrailized"
                        (click)="getBillBookNo1('centrailized')">
                <i nz-icon nzType="plus-circle" style="font-size: 20px;" nzTheme="outline"></i>
              </button>


            </nz-form-control>

          </div>
          <!--gr details end-->
          <!--payment details  -->
          <div  nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6"  formGroupName="tMemo">
            <nz-form-label nzFor="payment_type">Payment Type <span
              class="red-mark">*</span></nz-form-label>
            <nz-form-control >
              <nz-select [nzDisabled] ="this.previewMd || this.recAmValid" nzPlaceHolder="Select Payment Type"
                         style="width: 95%" formControlName="payment_type"  (ngModelChange)="paymenttypechange();" nzShowSearch>
                <nz-option *ngFor="let item of ptList" nzLabel="{{item}}"
                           [nzValue]="item">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </div>

          <div [hidden]="this.dealForm.value.tMemo.payment_type == null"  nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo">
            <nz-form-label nzFor="payment_basis">Payment Basis <span
              class="red-mark">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Please Select Payment basis">
              <nz-select [nzDisabled] ="this.previewMd || this.recAmValid" nzPlaceHolder="Select Payment Basis"
                         style="width: 95% ; padding-left: 2px" formControlName="weight_type" (ngModelChange)="paymenttypechange();" nzShowSearch>
                <nz-option  *ngFor="let item of pbList" nzLabel="{{item}}"
                            [nzValue]="item">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </div>
          <!--          punit-->
          <!--          No. of boxes-->
          <div *ngIf="dealForm.value.tMemo?.weight_type == 'PUnit'" nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo">
            <nz-form-label style="text-align: left;" nzFor="No. of boxes">No. of boxes<span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <input [readonly] ="this.previewMd || this.recAmValid" type='number' nz-input formControlName="perUnitPrice" (change)="calculateTotalpunit();" style="width: 95%" />
            </nz-form-control>
          </div>
          <!--          Price per box-->
          <div *ngIf="dealForm.value.tMemo.weight_type == 'PUnit'"  nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo">
            <nz-form-label style="text-align: left;" nzFor="Price per box">Price per box<span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <input [readonly] ="this.previewMd || this.recAmValid" type='number' nz-input formControlName="totalUnits"(ngModelChange)="calculateTotalpunit();" style="width: 95%" />
            </nz-form-control>
          </div>
          <!--          punit end-->
          <!--          PMT-->
          <!--          PMT Weight-->
          <div *ngIf="dealForm.value.tMemo.weight_type == 'PMT'"  nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo">
            <nz-form-label style="text-align: left;" nzFor="PMT Weight">PMT Weight<span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <input  [readonly] ="this.previewMd || this.recAmValid" type='number' nz-input formControlName="pmtWeight" (change)="calculateTotalPMT();" style="width: 95%" />
            </nz-form-control>
          </div>
          <!--          Price per box-->
          <div *ngIf="dealForm.value.tMemo.weight_type == 'PMT'"  nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo">
            <nz-form-label style="text-align: left;" nzFor="PMT Rate ">PMT Rate <span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <input  [readonly] ="this.previewMd || this.recAmValid" type='number' nz-input formControlName="pmtRate" (ngModelChange)="calculateTotalPMT();" style="width: 95%" />
            </nz-form-control>
          </div>
          <!--          PMT end-->
          <!--for fixed-->
          <!--          total -->
          <div  [hidden]="this.dealForm.value.tMemo.payment_type == null"  nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6"formGroupName="tMemo" >
            <nz-form-label style="text-align: left;" nzFor="total">TOTAL<span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <input  type='number'  [readOnly]="(dealForm.value.tMemo?.weight_type != 'Fixed') || this.previewMd || this.recAmValid" nz-input formControlName="rate" (ngModelChange)="munsiayanacal();" style="width: 95%" />
            </nz-form-control>
          </div>
          <!--          munshiyana-->
          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo">
            <nz-form-label style="text-align: left;" nzFor="munshiyana">munshiyana</nz-form-label>
            <nz-form-control>
              <input   [readonly] ="this.previewMd || this.recAmValid" type='number' nz-input formControlName="munshiyana" (ngModelChange)="munsiayanacal();" style="width: 95%" />
            </nz-form-control>
          </div>
          <!--          total with munshiyana-->
          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo">
            <nz-form-label style="text-align: left;" nzFor="totWithMunshiyana">totWithMunshiyana<span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <input  [readonly]= "true" type='number' nz-input formControlName="total" style="width: 95%" />
            </nz-form-control>
          </div>
          <!--          advance-->
          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo">
            <nz-form-label style="text-align: left;" nzFor="advance">advance<span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <input  type='number' [readOnly]="(dealForm.value.tMemo?.payment_type == 'To pay' || dealForm.value.tMemo?.payment_type == 'To be billed' || this.previewMd || this.recAmValid)" nz-input formControlName="advance" (ngModelChange)="munsiayanacal();" style="width: 95%" />
            </nz-form-control>
          </div>
          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo">
            <nz-form-label style="text-align: left;" nzFor="toPay">toPay<span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <input   [readonly]= "true" type='number' nz-input formControlName="toPay" style="width: 95%" />
            </nz-form-control>
          </div>

          <!-- basic freight and total freight-->


          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
            <nz-form-label style="text-align: left;" nzFor="basic freight">Basic Freight<span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <input  [readonly]= "true" type='number' nz-input formControlName="basicFreight" style="width: 95%" />
            </nz-form-control>
          </div>
          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
            <nz-form-label style="text-align: left;" nzFor="toPay">total Freight<span class="red-mark">*</span></nz-form-label>
            <nz-form-control>
              <input   [readonly]= "true" type='number' nz-input formControlName="totalFreight" style="width: 95%" />
            </nz-form-control>
          </div>
          <!--          fixed end-->

          <!--          card view total-->
          <!--          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo" >-->
          <!--            <nz-form-label style="text-align: left;" nzFor="totalPayable">totalPayable<span class="red-mark">*</span></nz-form-label>-->
          <!--            <nz-form-control>-->
          <!--              <input  [readonly]= "true" type='number' nz-input formControlName="totalPayable" style="width: 95%" />-->
          <!--            </nz-form-control>-->
          <!--          </div>-->
          <!--          <div nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6" formGroupName="tMemo" >-->
          <!--            <nz-form-label style="text-align: left;" nzFor="remainingAmount">remainingAmount<span class="red-mark">*</span></nz-form-label>-->
          <!--            <nz-form-control>-->
          <!--              <input   [readonly]= "true" type='number' nz-input formControlName="remainingAmount" style="width: 95%" />-->
          <!--            </nz-form-control>-->
          <!--          </div>-->
        </div>
      </div>

            <div  *ngIf="!mod" [ngClass]="{ 'pull-right':this.innerWidth > 500 }">
              <nz-form-item>
                <nz-form-control>
                  <button [disabled] ="this.previewMd" class=" invbtn" style="margin-top: 15px; width:140px; margin-right: 5px" nz-button type="submit" nzType="primary">SUBMIT</button>
                  <button  nzDanger class="invbtnback" type="button" style="margin-top: 15px ;width: 140px" (click)="backToListView();">BACK </button>
                </nz-form-control>
              </nz-form-item>
            </div>

    </form>

  </div>
</div>
