<div class="insight">
    <div class="insight-head">
        <!-- <div class="insight-title">
            Live Tracking
        </div> -->
        <div style="display: flex;">
            <!-- <div *ngIf="innerWidth < 500" class="mbbtn" style="margin-right: 30vw;">
                <app-back-button *ngIf="innerWidth <= 500"></app-back-button>
            </div>  -->
            <div style="font-weight: bold;">Live Tracking</div>
        </div>
    </div>
    <div class="insight-description">
        <div style="display: flex;flex-wrap: wrap;justify-content: flex-start; gap:10px;">
            <div><b>Vehicle No: </b>{{vehData?.vehicle_reg_no}} </div>
            <div><b>Speed : </b> {{speed}} Km/h</div>
            <div><b>Date Time: </b>{{datetime | date:'medium'}} </div>
        </div>
        <agm-map 
        [latitude]="lat" 
        [longitude]="lng"
        [zoom]="zoom"
        [streetViewControl]="false"
        [mapTypeControl]="true"
        [fullscreenControl]="false"
        [gestureHandling]="'greedy'"
        >
        
        <agm-marker [latitude]="marker.lat" [longitude]="marker.lng" [iconUrl]="truckIcon">
            <agm-info-window [isOpen]="isOpen">
                <div><b>Location :</b> {{address}} </div>
                <div><b>Latitude :</b> {{marker?.lat}}</div>
                <div><b>Longitude :</b> {{marker?.lng}}</div>
                <div><b>Positioning Time :</b> {{positionTime | date: 'medium'}}</div>
            </agm-info-window>
        </agm-marker>
        <ng-container>
            <agm-polyline [strokeColor]="polyLine.color">
              <agm-polyline-point *ngFor="let point of drawLine.latLng" [latitude]="point.lat" [longitude]="point.lng">
              </agm-polyline-point>
            </agm-polyline>
          </ng-container>
    </agm-map>
    </div>
</div>

