<div class="insight">

  <div class="insight-head">

  </div>
  <div class="insight-description">
    <!-- <nz-spin [ngClass]="{'loader': loadingObservable | async}" nzSimple [nzSpinning]="loadingObservable | async">
    </nz-spin>
    <div class="overlay" *ngIf="loadingObservable | async"></div> -->

    <form nz-form [formGroup]="CustomerForm" (ngSubmit)="onSubmit()">
      <div nz-row>
      <nz-form-item nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
        <nz-form-label [nzSpan]="20">Category<span class="red-mark">*</span></nz-form-label>
        <nz-form-control [nzSpan]="20" nzErrorTip="Input is required">
          <nz-select nzPlaceHolder="Select Category" nzShowSearch nzAllowClear nzServerSearch formControlName="category"
            required>
            <nz-option *ngFor="let type of categoryList" nzLabel="{{type}}" [nzValue]="type">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
        <nz-form-label [nzSpan]="20">Name<span class="red-mark">*</span></nz-form-label>
        <nz-form-control [nzSpan]="20" nzErrorTip="Input is required">
          <input nz-input formControlName="name" id="name" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
        <nz-form-label [nzSpan]="20">City<span class="red-mark">*</span></nz-form-label>
        <nz-form-control [nzSpan]="20" nzErrorTip="Input is required">
          <input nz-input formControlName="city" id="city" required />
        </nz-form-control>
      </nz-form-item>


      <nz-form-item nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
        <nz-form-label [nzSpan]="20">State<span class="red-mark">*</span></nz-form-label>
        <nz-form-control [nzSpan]="20" nzErrorTip="Input is required">
          <nz-select nzPlaceHolder="Select State" nzShowSearch nzAllowClear nzServerSearch formControlName="state"
            required>
            <nz-option *ngFor="let type of aGSTstates" nzLabel="{{type.state}}" [nzValue]="type.state">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>


      <!--        <div *ngFor="let type of custTypes; let i=index" class="form-group col-md-3 mb-3">-->
      <!--          <label style="text-align: left;" nzFor="type">Type: <span class="red-mark">*</span>-->
      <!--            <input type="checkbox" [value]="type" (change)="onCheckChange($event)">-->
      <!--            {{type}}-->
      <!--          </label>-->


      <nz-form-item nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
        <nz-form-label [nzSpan]="20">Type<span class="red-mark">*</span></nz-form-label>
        <nz-form-control [nzSpan]="20" nzErrorTip="Input is required">
          <nz-select [nzMaxTagCount]="10" nzMode="multiple" nzPlaceHolder="Select Type" nzShowSearch nzAllowClear
            formControlName="type" required>
            <nz-option *ngFor="let type of custTypes" nzLabel="{{type}}" [nzValue]="type">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
        <nz-form-label [nzSpan]="20">Address</nz-form-label>
        <nz-form-control [nzSpan]="20" nzErrorTip="Input is required">
          <input nz-input formControlName="line1" id="address" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-col nzXs="24" nzSm="12"  nzMd="8" nzLg="6">
        <nz-form-label [nzSpan]="20">GST No.</nz-form-label>
        <nz-form-control [nzSpan]="20" nzErrorTip="Input is required">
          <input nz-input formControlName="gstin_no" id="gstin_no" />
        </nz-form-control>
      </nz-form-item>
    </div>
      <nz-form-item style="padding-top:5%;">
        <nz-form-control [nzSpan]="20">
          <button nz-button nzType="primary" type="submit" [disabled]="CustomerForm?.invalid">{{'Submit'}}</button>
        </nz-form-control>
      </nz-form-item>

    </form>
    <!--            <pre>{{CustomerForm.value | json}}</pre>-->
    <!--        <pre>{{CustomerForm.valid}}</pre>-->
  </div>
</div>
