.btn-lst{
    background: #eee;
  margin-right: 5px;
  padding: 3px 5px;
}
.btn-lst a{
    cursor: pointer;
  background: #5B5B5B;
  padding: 0px 4px 2px 6px;
  color: #fff;line-height: 30px;
}
.btn-lst a:hover{background: #333;}